/* Variables */
:root {
  --cds-blue: #a5dbe9;
  --cds-grey: #28313a;
}

/* Page parts */
.navbar {
	background-color: var(--cds-grey);
	font-size: 150%;
}

footer {
  background-color: var(--cds-grey);
  font-size: 150%;
}


/* Text tags */
h2, h3, h4 {
	color: var(--cds-grey);
}

em {
	color: white;
}

.text-blue-cds {
	color: var(--cds-blue);
}

.text-white {
	color: white;
}

/* Tables */
thead {
    background-color: var(--cds-grey);
    color: white;
}

/* Background */
.bg-cds-grey {
	background-color: var(--cds-grey);
}

.bg-image {
    width:100%;
    height:800px;
    background-size:cover;
    background: url('../images/all-members.jpeg') no-repeat fixed center;
}

/* Scrolling nav */
section {
  padding: 150px 0;
}

.main-with-padding {
  padding: 134px 0;
}

/* Others */
.icontact {
	color: var(--cds-grey);
}

/*a + p + i {
	color: var(--cds-grey);
}*/