:root {
  --cds-blue: #a5dbe9;
  --cds-grey: #28313a;
}


.navbar
{
	background-color: var(--cds-grey);
	font-size: 150%;
}

footer
{
  background-color: var(--cds-grey);
  font-size: 150%;
}

h2, h3
{
	color: var(--cds-grey);
}

h4
{
	color: var(--cds-grey);
}

em
{
	color: white;
}

.icontact
{
	color: var(--cds-grey);
}

a + p + i
{
	color: var(--cds-grey);
}

.bg-cds-grey {
	background-color: var(--cds-grey);
}

.text-blue-cds {
	color: var(--cds-blue);
}

.text-white {
	color: white;
}