/* Variables */
:root {
    --cds-blue: #a5dbe9;
    --cds-grey: #28313a;
    --platinium: #2cafb5;
    --gold: #FFD700;
    --silver: #C0C0C0;
    --bronze: #CD7F32;
}

/* Titles */
.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.platinium-title {
    color: var(--platinium);
}

.gold-title {
    color: var(--gold);
}

.silver-title {
    color: var(--silver);
}

.bronze-title {
    color: var(--bronze);
}

/* Cards */
.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: var(--cds-grey);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
    color: white;
}

.pricing ul li {
    margin-bottom: 1rem;
    color: white;
}

.pricing ul li strong {
    color: var(--cds-blue);
}

/* Hover Effects on Card */
@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}